



.container {

    border: 1px solid black;
    max-height: 50vh;
    max-width: 50vw;

    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
    padding: 0;

}



.subcontainer {

    border: 1px solid black;
    max-height: 100px;
    width: 100%;
    background-color: grey;

}


/*//////////////////////////////////////////*/



.container2 {

    border: 1px solid black;
    max-height: 50vh;
    max-width: 50vw;

    display: grid;
    grid-template-rows: 100px 300px 100px;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 15px;

    grid-template-areas: 
    "Gtop Gtop Gtop Gtop"
    "Gleft Gright Gright Gright"
    "Glow Glow Glow Glow" 
    ;

}


.container2_repeat {
    border: 1px solid black;
    width: minmax(500px, auto);
    height: minmax(500px, auto);
    margin: auto;

    display: grid;

    grid-auto-rows:	minmax(100px, 150px);

    grid-template-rows: repeat (3, 1fr);
    grid-template-columns: repeat (4, 1fr);

    grid-template-areas: 
    "Gtop Gtop Gtop Gtop"
    "Gleft Gright Gright Gright"
    "Glow Glow Glow no-name" 


}

.subcontainer2 {

    border: 1px solid black;
    background-color: grey;

}

#Gtop_grid {
    grid-area: Gtop;
}

#Gleft_grid {
    grid-area: Gleft;

}

#GRight_grid {
    grid-area: Gright;

}

#Glow_grid {
    grid-area: 3 / 4 / 3 / 4;

}


/*
    grid-auto-rows:	minmax(100px, 150px);
according to what ?

	/*grid-template-columns: auto auto;*/
    /*can be used to get boxes horizontal each other rather 
    than vertical to each other, and not use areas
??
*/

.bordered {

    border: 1px solid black;

}

.ol_box {

    height: 300px;
    width: 90%;
    border: 1px solid red;

    padding: 0px;

    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;

}

.ol_box_item {

    list-style-type: none;
    height: 50px;
    flex-basis: 100px;

}

.grow1 {
    flex-grow: 1;
    flex-shrink: 1;
}

.grow2 {
    flex-grow: 3;
    flex-shrink: 5;
    
}


#aaa {
    margin: 0 auto;

}

/*
input:required:invalid {
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=);
			background-position: right top;
            background-repeat: no-repeat;    



}

*/
#divX {
    border: 6px solid red;
    background-color: black;
    height: 100px;
    width: 100px;

    transition: transform .5s ease-in-out;
    padding-left: 10px;

}

#divX:hover {
    border: 6px solid lime;
    background-color: black;

    transform: rotate(-2deg) translateY(-5px) scale(1.035);
    box-shadow: 0 0 1.5rem rgb(17,17,17);

}

.relative_test {
    border: 1px solid red;

    height: 310px;
    max-width: 600px;

}

.relative_test2 {
    border: 1px solid lime;
    background-color: black;

    height: 100px;
    width: 100px;

    position: relative;

    margin-left: 25%;
}

/* ability to add style on screen size (responsive) */
/*give style when screen 500px or more*/
@media screen and (min-width: 500px) {
    .relative_test2 {
        background-color: grey;
    }
}




.container_image {
    width: 90%;
    height: 100px;

    position: fixed; 
    top: 0;

    background-image: url("ship.webp");
    border: 2px solid #4CAF50;


    /* be a header on scroll */
    /* position: sticky;  stays in its place and be a header on scroll */


}


/* changing the text selection color */
.container_image::selection {
    color: white;
    background: blueviolet;
}


/*if you want to make an inline element have HW properties
give it display: block or inline-block*/


/*
input:out-of-range { /*if you type input out of min/max number range it is given a style 
    border: 3px solid blue;
    border-radius: 2px;
}
*/


.boxed_image {
    border: 3px solid blue;
    height: 100px;
    width: 100px;

}

#divX2 {
    height: 200px;
    width: 200px;
    border: 3px solid blue;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;

}

.redbutton {
    background-color: red;
}
.bluebutton {
    background-color: blue;
}

.RecapDiv {

    border: 3px solid blue;
    height: 100px;
    width: 100px;
    float: right;


}

.RecapDiv p {
    font-variant-caps: small-caps;
    font-size: 20px;
    
    text-shadow:
    -1px 0 black, 
    0 1px black, 
    1px 0 black, 
    0 -1px black
    ;

}


.div0909 {
    border: 1px solid black;
    background-color: grey;
}

.div0909_sub {
    border: 1px solid black;
    width: 100px;
    height: 100px;

}


.Rec1109 {

    border: 1px solid red;
    
    max-width: 800px;
    /*min-width: 800px;*/
    height: 300px;

    display: flex;

}

.Rec1109 div {
    flex-basis: 100px;
    min-width: 100px;
    background-color: whitesmoke;
    flex-grow: 2;
    border:1px solid black;
}

.Rec1109 div:nth-of-type(2) {
    flex-grow: 1;

}

/*///////////////////////////////////////////////////////*/


.Rec1109_1 {

    border: 1px solid red;
    
    max-width: 800px;
    /*min-width: 800px;*/
    height: 300px;

    display: grid;
    place-items: center;


}

.Rec1109_1 div {
    background-color: whitesmoke;
    border:1px solid black;
    height: 150px;
    width: 150px;
}

#descendant2 {
    background-color: red;
    border:1px solid black;
    height: 100px;
    width: 100px;
}


#descendant > * {
    background : black;
}


.image_div {
    border: 1px solid black;
    width: 500px;
    height: 100px;
    background-color: greenyellow;
    background: url('https://c4.wallpaperflare.com/wallpaper/119/327/693/500px-photography-landscape-wallpaper-preview.jpg');

    display: grid;
    place-items: center;

}


/* making a text transparent to background */
.image_div p {

    /* black container */
    /*background-color: rgba(0, 0, 0, 0.315);
    color: white;
    mix-blend-mode: multiply;
    */

    /*white container */
    background-color: rgba(255,255, 255, 0.8);
    color: black;
    mix-blend-mode: screen;

    font-size: 50px;
    font-weight: bold;
    text-align: center;
    position: absolute;


}

/*///////////////////////////////////////////*/
/*2309*/

#test_2309 + #test_2309:required:invalid{
    border: 3px solid red;
    caret-color: blue;
}

#test_2309:focus:valid{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-position: right top;
}

#textarea2 {

        height: 200px;
        width: 100px;
        display: block;



}


#table2 {
    
    border: 1px solid black;
    width: 500px;
/*    border-collapse: collapse; */
    table-layout: fixed;
    
}

tr {
    border: 1px solid black;

}

td {
    border: 1px solid black;
    vertical-align: bottom;
    text-align: right;

}


/*/////////////////////////////////*/

.dl_l {
    height: 200px;
    width: 300px;
    background-color: green;
    display: flex;

}

.dt_l {
    height: 100px;
    width: 100px;
    background-color: blue;
}

#email_id:hover {
    background: black;
    color:white;
}


/*////////////////////////////////////////////////////////////////////*/

.container {
    width: 100%;
    max-width: 350px;
    margin: auto;
    background-color: grey;
  }

.container > * {
    outline: 2px solid blue;
}

.card_outer {
    display: grid;
    grid-template-columns: auto auto;
    /*gets the images horizontal each other rather than vertical to each other*/
    grid-gap: 10px;
  }

  .card {
    position: relative;
    padding: 0.5rem;
    border-radius: 8px;
    background: whitesmoke; 
}

.card img {
    width: 200px;
    height: 200px;

    display: block;
    border-radius: 4px;
    box-shadow: 0 0 1.5rem rgb(17,17,17) ;
    transition: 0.15s;

  }


  a:hover img {
    box-shadow: 0 0 50px rgba(17,17,17, 0.5);
    transform: rotate(-2deg) translateY(-5px) scale(1.03);
}


/*////////////////////////////////////////////////////////////////////*/

*,
*::before,
*::after {
    box-sizing: border-box;
}


:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);

}

.testdiv_17102 {
    color: color: var(--clr-neon);
    background: var(--clr-bg);

    display: grid;
    place-items: center;

    height: 300px;
    width: 600px;


}

.neon-button {

    text-align: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1.5em;
    border-radius: 0.25em;

    /*white one followed by the other one*/
    text-shadow: 
    0 0 0.125em hsl(0 0% 100% / 0.3), 
    0 0 0.25em currentColor ; /*blur, change on font size itself*/


    box-shadow:  
    inset 0 0 0.5em 0 var(--clr-neon),
    0 0 0.5em 0 var(--clr-neon)
    ;

}

    /* so to create the button itself,
    border-neon, in/out shadow-neon, text-shadow white/neon */